.userBlock .value
{
    display: inline-block;

    margin: 1em;
}
.userBlock
{
    margin: 1em;

    border: 1px solid dodgerblue;
    border-radius: 10px;
}
.status
{
    display: block;

    margin: 1em;
}
.imgPerson
{
    width: 100px;
    height: 100px;
}
.imgPerson:hover {
    border: 1px solid dodgerblue;
}

