.navbar {
    grid-area: n;
    background-color: navajowhite;
}
.itemMenu {
    display: block;


}
.itemMenu div {
    padding-bottom: 1rem;
    padding-top: 1em;

}
.itemMenu a {
    text-decoration: none;
    color: dodgerblue;
    padding-left: 1em;
}