.dialogs
{
    display: grid;

    grid-template-columns: 2fr 10fr;
}
.dialogsItems
{
    padding: 10px;

    text-decoration: none;
}
.messages
{
    padding: 10px;
}
.dialog
{
    margin: 1em;
}
.messages div
{
    margin: 1em;
}

/*Send message block*/

.textarea
{
    margin: 1em;
}
.sendMessage
{
    margin: 1em;
}
.sendMessage button:hover
{
    background-color: lightskyblue;
}
