.profile {
    /*grid-area: c;*/
    /*background-color: cornsilk;*/
}
img {
    max-height: 200px;
   max-width: 200px;

}
.status {
    background-color: skyblue;
    margin-left: 1rem;
    padding: .3rem 3rem;

}